<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ecdab">  <td>19/07/13 15:32:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 15:32:25</td>   <td>5234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 15:32:13</td>   <td>-6200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="6ecdab">  <td>19/07/13 15:32:20</td>   <td>185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/07/13 15:32:13</td>   <td>-6260</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/07/13 15:32:19</td>   <td>-270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.LoginUsingCucumber@43814d18]">runScenario</td> 
  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/07/13 15:32:25</td>   <td>5211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.runScenario(cucumber.api.testng.PickleEventWrapper, cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.LoginUsingCucumber@43814d18]">runScenario</td> 
  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="8a9f61">  <td>19/07/13 15:32:13</td>   <td>-6369</td> <td>&nbsp;</td><td title="&gt;&gt;LoginUsingCucumber.setData()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/07/13 15:32:13</td>   <td>-6369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/07/13 15:32:13</td>   <td>-6705</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>19/07/13 15:32:25</td>   <td>5653</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>19/07/13 15:32:25</td>   <td>5570</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.LoginUsingCucumber@43814d18]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@963601816</td>   <td></td> </tr>
</table>
